* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  /* background-image: url(bg-pattern-top.svg); */
  /* background-image: url(bg-pattern-bottom.svg); */
  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: left 10%; */
  /* background-position: top left; */
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-image: url(bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: -150px;
  overflow: hidden;
}

.main-container {
  background-color: white;
  background-image: url(bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position: top;
  width: 320px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.image-victor {
  align-self: auto;
  justify-content: center;
  margin-top: 92px;
  border: 1rem solid;
  border-width: thick;
  color: white;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.victor-crest {
  font-size: 16px;
  font-weight: 700;
  color: rgb(56, 55, 55);
  margin-top: 10px;
}

.two-six {
  font-size: 16px;
  font-weight: 500;
  color: rgb(138, 135, 135);
}

.london {
  font-size: 13px;
  font-weight: 500;
  color: rgb(138, 135, 135);
  align-self: auto;
  margin-top: 7px;
}

.line {
  width: 310px;
  height: 0.4px;
  background-color: rgb(220, 225, 233);
  margin-top: 20px;
}

.profile-data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  margin: 0.9em;
  width: 90%;
}

.followers {
  font-size: 11px;
  font-weight: 700;
  color: rgb(56, 56, 55);
}

.followers-22 {
  font-size: 11px;
  font-weight: 600;
  color: rgb(179, 175, 175);
  text-align: center;
}

.likes {
  font-size: 11px;
  font-weight: 700;
  color: rgb(56, 55, 55);
}

.likes-22 {
  font-size: 10px;
  font-weight: 600;
  color: rgb(179, 175, 175);
  text-align: center;
}

.photos {
  font-size: 11px;
  font-weight: 700;
  color: rgb(56, 55, 55);
}

.photos-22 {
  font-size: 10px;
  font-weight: 600;
  color: rgb(179, 175, 175);
  text-align: center;
}
